<div class="list-wrap">
  <% @books.each do |book| %>
      <div class="list-comment">
        <span class="list-body"><%= book.body %></span>
        <span class="list-title"><%= link_to book.title, book_path(book.id) %></span>
      </div>
    </div>
  <% end %>
</div>





<h1>投稿一覧</h1>

<% @books.each do |book| %>

<p>本のタイトル</p>

<%= link_to book.title, book_path(book.id) %>
  

<% end %>